/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card img{
    height: 20rem;
}
form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
tbody img{
    width: 8rem;
}
.card1{
    margin: 2rem;
width: fit-content;}
#Tentomon{
    position: absolute;
    width: auto;
    height: 20rem;
    overflow:hidden;
}
.borde{
    height: 20rem;
    width: 15rem;
    background-image: url(/assets/test/borderCard.png);
    background-size: 15rem 20rem;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
} */


/* --------------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: MiddleFont;
}

body {
    background-image: url(/assets/digimon-ui/Background.png);
}


#items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content:space-around; */
    height: 120rem;

}
.cardContainers {
    width: 89rem;
    height: 120rem;
    overflow: hidden;
    background-color: black;
    margin: auto;
    padding: 1rem;
    margin-top: 5rem;
    border-radius: 15px;
}

.card {
    position: relative;
    margin: 2rem 2rem 2rem 2rem;
    width: fit-content;

}

.card img {
    width: auto;
    height: 25rem;

}

.borde {
    background-image: url(/assets/digimon-ui/border.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 108%;
    height: 114%;
    position: absolute;
    top: -2.4%;
    left: -3.8%;
    background-blend-mode: multiply;
}

.tipoIMG {
    background-image: url(/assets/digimon-ui/Vaccine.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 15%;
    height: 15%;
    top: 3%;
    left: 4%;
}

.elemento {
    background-image: url(/assets/digimon-ui/Fire.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 14%;
    height: 14%;
    top: 17%;
    left: 4.6%;

}

.tipo {
    border-radius: 5px;
    position: absolute;
    color: black;
    top: 83%;
    left: 10%;
    text-align: center;
    background: linear-gradient(to right, #ABAB13 0%, #f1f163 100%);
    width: 36%;
}

.level {
    border-radius: 5px;
    position: absolute;
    color: black;
    top: 83%;
    left: 55%;
    text-align: center;
    background: linear-gradient(to right, #ABAB13 0%, #f1f163 100%);
    width: 36%;
}

.name {
    border-radius: 5px;
    padding: 0.1rem;
    position: absolute;
    color: black;
    top: 76%;
    left: 25%;
    text-align: center;
    background: linear-gradient(to right, #ABAB13 0%, #f1f163 100%);
    width: 50%;
    font-size: 0.9rem;
}

.precio {
    width: 10%;
    text-align: center;
    position: absolute;
    top: 94%;
    left: 43%;
    color: white;
}

.substract {
    position: absolute;
    top: 96%;
    left: 29%;
    font-size: 1rem;
    font-weight: bolder;
    padding: 0.1rem;
}
.substract:hover{
    background-color: #f1f163;
    border-color: #f1f163;
 }

.increase {
    position: absolute;
    top: 96%;
    left: 66%;
    font-size: 1rem;
    font-weight: bolder;
    padding: 0.1rem;
}
.increase:hover{
   background-color: #f1f163;
   border-color: #f1f163;
}

.quatity {
    text-align: center;
    position: absolute;
    top: 101%;
    left: 44.8%;
    width: 10%;
}
.stockOff{
    background-image: url(/assets/digimon-ui/agotado.png);
    background-size: cover;
    position: absolute;
    top: 30%;
    width: 100%;
    height: 35%;
    /* background-color: red; */
}
.stockOK{
    display: none;
}
/* ----------------------BUTTONS FOR CHANGE PAGE */
.pageNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.pageNumber{
    width: 3rem;
    height: 3rem;
    background-color: white;
    margin: 1rem;
    font-size: 1rem;
    text-align: center;
}
.pageNumber:hover{

background: linear-gradient(to right, #ABAB13 0%, #f1f163 100%);

}

/* -------------------------THIS MOVE THE CARD PAGE */
.page1{
    transform: translateX(0rem);
    transition-duration: 1s;

}
.page2{
    transform: translateX(-88rem);
    transition: ease;
    transition-duration: 1s;

}
.page3{
    transform: translateX(-176rem);
    transition: ease;
    transition-duration: 1s;

}
/* ---------------------------- WEB NAV */

.webNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
}
.navLink{
    padding: 1rem;
}


/* -----------------------------CART STYLE */

th{
    width: 0.5rem;
    height: 1rem;
    overflow: hidden;
    background-color: #12202D;
    color: white;
    padding: 0.5rem;
    border-color: #1f364d;
    border-style:ridge;
}
th img{
    width: 5rem;
}
.cartWeb{
    display: flex;
    flex-direction: column;
}
.tableContainer{
    display: none;
}
.cartIcon{
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
}
.cartIcon:hover ~ .tableContainer{
    display: unset;
    position:absolute;
    z-index: 100;
    top: 11%;
}
.tableContainer:hover{
    display: unset;
    position:absolute;
    z-index: 100;
    top: 11%;
}


@font-face {
    font-family: MiddleFont;
    src: url(/assets/font/monofonto\ rg.otf);
}